@{
    //Подключаем мастер-страницу
    Layout = "~/Views/MasterPage.cshtml";
    var user = await UserManager.GetUserIdentityAsync(User);
}

@model Megame_Admin.Models.SettingsModel

<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Account Settings | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <link href=@Url.Content("~/plugins/dropify/dropify.min.css") rel="stylesheet" type="text/css" >
    <link href=@Url.Content("~/assets/css/users/account-setting.css") rel="stylesheet" type="text/css"/>
</head>
<body>
    
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <div id="content" class="main-content">
            <div class="layout-px-spacing">       
                <div class="account-settings-container layout-top-spacing">
                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">                                
                                    <form id="general-info" asp-action="Settings" asp-controller="Account" class="section general-info"  enctype="multipart/form-data">                                       
                                        <div class="info">
                                            <h6 class="">General Information</h6>
                                            <div class="row">
                                                <div class="col-lg-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                                            <div class="upload mt-4 pr-md-4">
                                                                <input type="file" name="model.File" id="input-file-max-fs" class="dropify" data-max-file-size="5M"/>
                                                                <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                            <div class="form">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="fullName">Full Name</label>
                                                                            <input type="text" class="form-control mb-4" id="fullName" name="model.FullName" value=@user.BaseUser.FullName>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <label class="dob-input">Date of Birth</label>
                                                                        <div class="d-sm-flex d-block">
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" id="exampleFormControlSelect1" name="model.DayBirthday">                                                                                         
                                                                                    <option selected>@user.BaseUser.Birthday.Day</option>
                                                                                    @for(int i=1;i<32;i++) { <option>@i</option> }                                                                                  
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" id="month" name="model.MonthBirthday">
                                                                                    <option selected>@user.BaseUser.Birthday.Month</option>
                                                                                    @for(int i=1;i<13;i++) { <option>@i</option> }
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" id="year" name="model.YearBirthday">
                                                                                  <option selected>@user.BaseUser.Birthday.Year</option>
                                                                                  @for(int i=1970;i<2011;i++) { <option>@i</option> }                                                                                  
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="profession">Profession</label>
                                                                    <input type="text" class="form-control mb-4" id="profession" name="model.Profession" value=@user.BaseUser.Profession>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="info">
                                            <h5 class="">Bio</h5>
                                            <div class="row">
                                                <div class="col-md-11 mx-auto">
                                                    <div class="form-group">                                                        
                                                        <textarea class="form-control" name="model.Bio" id="aboutBio" rows="10" maxlength=300>@user.BaseUser.Bio</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="info">
                                            <h5 class="">Contact</h5>
                                            <div class="row">
                                                <div class="col-md-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country">Country</label>
                                                                <select class="form-control" id="country">
                                                                    <option>All Countries</option>
                                                                    <option selected>@user.BaseUser.Country</option>
                                                                    <option>India</option>
                                                                    <option>Japan</option>
                                                                    <option>China</option>
                                                                    <option>Brazil</option>
                                                                    <option>Norway</option>
                                                                    <option>Canada</option>
                                                                    <option>United States</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="address">Address</label>
                                                                <input type="text" class="form-control mb-4" id="address" name="model.Adress" value=@user.BaseUser.Adress>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="location">Location</label>
                                                                <input type="text" class="form-control mb-4" id="location" name="model.Location" value=@user.BaseUser.Location>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phone">Phone</label>
                                                                <input type="text" class="form-control mb-4" id="phone" name="model.Phone" value=@user.PhoneNumber>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="email">Email</label>
                                                                <input type="text" class="form-control mb-4" id="email" value=@user.Email readonly>
                                                            </div>
                                                        </div>                                    
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="website1">Website</label>
                                                                <input type="text" class="form-control mb-4" id="website1" name="model.Website" value=@user.BaseUser.Website>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="info">
                                            <h5 class="">Social</h5>
                                            <div class="row">
                                                <div class="col-md-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group social-linkedin mb-3">
                                                                <div class="input-group-prepend mr-3">
                                                                    <span class="input-group-text" id="linkedin"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></span>
                                                                </div>
                                                                <input type="text" class="form-control" aria-label="Username" aria-describedby="linkedin" name="model.Linkedin" value=@user.BaseUser.Linkedin>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="input-group social-tweet mb-3">
                                                                <div class="input-group-prepend mr-3">
                                                                    <span class="input-group-text" id="tweet"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></span>
                                                                </div>
                                                                <input type="text" class="form-control" aria-label="Username" aria-describedby="tweet" name="model.Twitter" value=@user.BaseUser.Twitter>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                </div>

                                                <div class="col-md-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group social-fb mb-3">
                                                                <div class="input-group-prepend mr-3">
                                                                    <span class="input-group-text" id="fb"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></span>
                                                                </div>
                                                                <input type="text" class="form-control" name="model.Facebook" aria-label="Username" aria-describedby="fb" value=@user.BaseUser.Facebook>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="input-group social-github mb-3">
                                                                <div class="input-group-prepend mr-3">
                                                                    <span class="input-group-text" id="github"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></span>
                                                                </div>
                                                                <input type="text" class="form-control" name="model.Github" aria-label="Username" aria-describedby="github" value=@user.BaseUser.Github>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="account-settings-footer">
                                                <div class="as-footer-container">
                                                    <div class="blockui-growl-message">
                                                        <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
                                                    </div>
                                                    <button id="multiple-messages" class="btn btn-success" type="submit">Save Changes</button>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                                     
                                <!-- AddWork -->
                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                    <form id="work-platforms" asp-action="AddWorkPlatform" asp-controller="Account" class="section work-platforms">
                                        <div class="info">
                                            <h5 class="">Work Platforms</h5>
                                            <div class="row">
                                                <div class="col-md-12 text-right mb-5">
                                                    <button id="add-work-platforms" class="btn btn-secondary">Add</button>
                                                </div>
                                                <div class="col-md-11 mx-auto">                                                    
                                                    <div class="platform-div">
                                                        <div class="form-group">
                                                            <label for="platform-title">Platforms Title</label>
                                                            <input type="text" name="title" class="form-control mb-4" id="platform-title" placeholder="Platforms Title" value="" maxlength=50>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="platform-description">Description</label>
                                                            <textarea class="form-control mb-4" name="description" id="platform-description" placeholder="Platforms Description" rows="10" maxlength=300></textarea>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>                           
                                                              
                                <!-- AddSkills -->
                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                    <div id="skill" class="section skill">
                                        <div class="info">
                                            <h5 class="">Skills</h5>
                                            <div class="row progress-bar-section">
                                                
                                                <div class="col-md-12 mx-auto">
                                                    <form asp-action="AddSkill" asp-controller="Account">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-11 mx-auto">
                                                                <div class="input-form">                                                                    
                                                                     <input type="text" class="form-control" name="name" id="skills" placeholder="Add Skill Name" value="">
                                                                     <input type="number" class="form-control" name="percent" id="skillPercent" placeholder="Add Skill Percent" value="" />
                                                                     <button id="add-skills" class="btn btn-secondary">Add</button></a>                                                                                                                               
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                            @for(int i=0;i<user.Skills.Count;i++)
                                            {
                                             <div class="col-md-11 mx-auto">
                                                    <div class="custom-progress top-right progress-up" style="width: 100%">
                                                        <p class="skill-name">@user.Skills[i].Name</p>
                                                        <input type="range" min="0" max="100" class="custom-range progress-range-counter" value=@user.Skills[i].Percent>
                                                        <div class="range-count"><span class="range-count-number" data-rangecountnumber="25">@user.Skills[i].Percent</span> <span class="range-count-unit">%</span></div>
                                                    </div>
                                                </div>   
                                            }                                          
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>

    <script src=@Url.Content("~/plugins/dropify/dropify.min.js")></script>
    <script src=@Url.Content("~/plugins/blockui/jquery.blockUI.min.js")></script>
    <script src=@Url.Content("~/assets/js/users/account-settings.js")></script>
</body>
</html>
